# Virtual environment
venv/
*.pyc
__pycache__/

# Database files
*.sqlite3
*.db

# Django static files
staticfiles/

# CSV / eksportowane pliki
*.csv

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Python cache / bytecode
*.pyo
*.pyd

# Log files
*.log

# Temp / backup files
*.bak
*.swp
